<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <button id="kick" data-sample="/samples/erase_classics.wav">Kick</button>
    <button id="snare" data-sample="/samples/erase_chicagosnare.wav">Snare</button>
  </body>
  <script src="/script/engine.js"></script>
</html>
