<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
  </head>
  <body>
    <canvas id="drumpads" width="200" height="200"></canvas>
  </body>
  <script src="/script/canvas_utilities.js"></script>
  <script src="/script/canvas_grid.js"></script>
  <script src="/script/event_dispatch.js"></script>

  <script src="/script/keyboard_controller.js"></script>
  <script src="/script/sample_channel.js"></script>
  <script src="/script/engine.js"></script>
</html>
