<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/style/style.css' />
  </head>
  <body>
    <label>
        Start: <input type=checkbox id=start>
    </label>
    <br/>
    <canvas id="drumpads" width="200" height="200"></canvas>
  </body>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
  <script src="/script/canvas_utilities.js"></script>
  <script src="/script/canvas_grid.js"></script>
  <script src="/script/event_dispatch.js"></script>

  <script src="/script/keyboard_controller.js"></script>
  <script src="/script/sample_channel.js"></script>
  <script src="/script/sequencer.js"></script>
  <script src="/script/app.js"></script>
</html>
